
:root
{
  --centerPaneWidth: 50%;
}

html
{
  height: 100%;
  width: 100%;
  padding: 2% 4% 2% 4%;
  margin: 0%;
}

ul
{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

body
{
  padding: 0;
  min-height: 100%;
}

.ContentWrapper
{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0%;
}

.ContentWrapper .CenterPane
{
  width: var(--centerPaneWidth);
  text-align: justify;
  word-wrap: break-word;
}

.dropdown-toggle:focus
{
  outline: none;
  box-shadow: none;
}
